<div class="calendar-page">
  <div class="calendar-actions">
    <button mat-raised-button color="primary" (click)="openAppointmentForm()">
      <mat-icon>add</mat-icon> New Appointment
    </button>
  </div>

  <app-calendar-view
    class="calendar-view"
    (appointmentSelected)="onAppointmentSelected($event)"
  ></app-calendar-view>

  <app-appointment-form
    *ngIf="showAppointmentForm"
    [appointment]="selectedAppointment"
    [selectedDate]="currentDate"
    (formClosed)="showAppointmentForm = false"
  >
  </app-appointment-form>

  <app-appointment-form
    *ngIf="selectedAppointment"
    [appointment]="selectedAppointment"
    (formClosed)="onFormClosed()"
  ></app-appointment-form>
</div>
