<div class="calendar-grid">
  <!-- Calendar header with weekdays -->
  <div class="calendar-weekdays">
    <div class="weekday" *ngFor="let day of weekDays">
      {{ day.substring(0, 3) }}
    </div>
  </div>

  <!-- Calendar days -->
  <div class="calendar-body">
    <div
      *ngFor="let day of calendarDays; let i = index"
      class="calendar-day"
      [class.other-month]="!day.isCurrentMonth"
      [class.today]="isToday(day.date)"
      cdkDropList
      [cdkDropListData]="day.appointments"
      (cdkDropListDropped)="onDrop($event, i)"
      [cdkDropListConnectedTo]="getConnectedLists()"
    >
      <div class="day-header">
        {{ day.date | date : "d" }}
      </div>

      <!-- <div 
        *ngFor="let appointment of day.appointments"
        class="appointment"
        [style.background-color]="appointment.color || '#4285f4'"
        cdkDrag
        (click)="onAppointmentClick(appointment, $event)">
        
        <div class="appointment-time">
          {{ appointment.startTime }} - {{ appointment.endTime }}
        </div>
        <div class="appointment-title">{{ appointment.title }}</div>
        <button 
          mat-icon-button 
          class="delete-btn"
          (click)="deleteAppointment(appointment, $event)">
          <mat-icon>close</mat-icon>
        </button>
      </div> -->
      <div
        *ngFor="let appointment of day.appointments"
        class="appointment"
        [style.background-color]="appointment.color || '#4285f4'"
        cdkDrag
        (click)="onAppointmentClick(appointment, $event)"
      >
        <div class="appointment-card">
          <div class="appointment-title">{{ appointment.title }}</div>
          <div class="appointment-time">
            {{ appointment.startTime }} - {{ appointment.endTime }}
          </div>
          <div class="buttons-edit-delete">
            <button
              class="button-edit"
              mat-icon-button
              (click)="editAppointment(appointment, $event)"
            >
              <mat-icon>edit</mat-icon>
            </button>
            <button
              class="button-delete"
              mat-icon-button
              (click)="deleteAppointment(appointment, $event)"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
